* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  scroll-behavior:smooth;
}  

body{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}


nav{
  /* margin-bottom:50px; */
  position: absolute;
}

/* .sec-1{ */
  /* background:linear-gradient(90deg, rgba(0,0,0,0.64),rgba(0,0,0,0.64)), url("../images/back-1.png");
  height: 45em !important;  */
 
  /*background-repeat: no-repeat center center scroll;*/
  /* background-size: cover;
  background-attachment: fixed;
 */
/* } */

#active_link{
  color:  #9e762c!important;
  font-weight: 600;

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover, .fa-whatsapp:hover {
  color:  #9e762c !important;
  font-weight: 600;
 
}

.listpro .fa-whatsapp:hover {
color: #FFF !important;
}

/* .nav-link:active {
    content: ""; 
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #9e762c;
    width: 100px;
    right: 715px; 
} */
/* .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover */


/* #active_link:after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #9e762c;
    width: 100px;
    right: 715px;
} */

.slide-2{
  height: 100%;
}

.modal-fade {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.title{
  margin-top: 100px;
  /*margin-left: 40px;*/
  text-align: left;
}

.title h1{
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
/* identical to box height */
color: #9e762c;
font-variant: small-caps !important;
/*position: relative;*/

}

.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
  background: #9e762c;
  padding: 10px 30px;
  display: inline-block;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

/*.carousel-control-prev-icon, .carousel-control-next-icon {
    border-radius: 50%;
    border: 2px solid black;

  width: 64px;
  height: 64px;

  background-color: #000 !important;
  transform: rotate(-180deg);
}*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px !important;
  width: 50px !important;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 2px solid black !important;
  background-color: black !important;
  color: blue;
}


/*===================social-link========================*/



.fab{
 
  color:  white;

}

.fab:hover {
    opacity: 0.7;
}




.listpro{
  padding: 28px 10px;

}

.aaa{
  padding-left: 100px;

  
}

.sec-6{

margin-top: 100px;

}

.sec-7 h4{
  color: #FFFFFF;
}

.sec-7 p{
  color: #FFFFFF;
}
/* 
.sec-8{

padding: 0px !important;

} */

.sec-8 h3{
      font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    font-variant: small-caps;
    color: #9e762c;
        text-align: center;
        margin-top: 150px;
}

.heading h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 59px;
  font-variant: small-caps;
  color: #9e762c;
   text-align: center;
      
}



.bar-icon{

color: #fff;
font-size: 25px;
background-color:#000;
padding: 4px;
border-radius: 50%;
height: 50px;
width: 50px;
border: 2px solid black;

}

.ban-icon{

color: #000000;
font-size: 25px;
background-color: rgba(0, 0, 0, 0);
padding: 4px;
border-radius: 50%;
height: 50px;
width: 50px;
border: 2px solid black;

}

.carousel-control-prev {
  left: 0px !important;
}

.carousel-control-next {
  right: 0px !important;
}


.main-text
{
    position: absolute;
    top: 100px;
    width: 96.66666666666666%;
    color: #FFF;
    padding-left: 35px;
}

/* 
.item{
  Position:relative;
  }
  .item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
     background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0));
  } */







/*===================social-link========================*/






/*.top-content .carousel-control-prev {
    
    font-size: 40px;
    color: #444;
}
 
.top-content .carousel-control-next {
    
    
    font-size: 40px;
    color: #444;
}


/*====================media queries===================*/


@media screen and (min-width: 601px) {
  .title  {
    margin-top: 100px;
  }
}

@media screen and (max-width: 601px) {
  .title  {
   margin-top: 70px;
  }
}


@media screen and (min-width: 601px) {
  .title h1 {
    font-size: 80px;
  }

  .title p{
    font-size: 24px;
    line-height: 29px;  
  }

  .main-text
{
    position: absolute;
    top: 100px;
    width: 96.66666666666666%;
    color: #FFF;
}
carousel-caption p{
  width: 100%;
  margin: auto;
  font-size: 44px;
  line-height: 42px;
  font-style: normal;}

  .carousel-caption {
    bottom: 40% !important;
    /* margin: auto !important; */
  }

  .Air-logos img{
    width: auto;
    height: 90px;
    margin: 20px;
    object-fit: cover;
    }

}

@media screen and (max-width: 601px) {
  .title h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .title p{
    font-size: 20px !important;
    line-height: 25px !important;  
  }

  .main-text
{
    position: absolute;
    top: -35px;
    width: 96.66666666666666%;
    color: #FFF;
}
  .carousel-caption p{
    max-width: 87% !important;
    margin: auto !important;
    font-size: 26px !important;
    line-height: 42px !important;
    font-style: normal;
  }

  .carousel-caption {
    bottom: 106px !important;
    margin: auto !important;
  }

  .Air-logos img{
    width: 110px !important;
    height: 80px !important;
    margin: 15px !important;
    object-fit: contain !important;
   
    }
}

@media only screen and (min-width: 768px) {

 .title h1 {
    font-size: 80px;
  }


}

@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 50px;
    line-height: 50px;
  }
}


@media screen and (max-width: 601px) {
  .bar-icon{
color: #000000;
font-size: 25px;
background-color: rgba(0, 0, 0, 0);
padding: 4px;
border-radius: 50%;
height: 50px;
width: 50px;
border: 2px solid black;

}


}


@media screen and (max-width: 601px) {
  .ban-icon{
color: #000000;
font-size: 25px;
background-color: rgba(0, 0, 0, 0);
padding: 4px;
border-radius: 50%;
height: 50px;
width: 50px;
border: 2px solid black;


}
}



/*====================media queries===================*/


.title p{


font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

}

.bt{
  background: transparent;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border: 2px solid #9e762c;
}

.bt a{
  color: #fff;
  text-decoration: none !important;
}

.bt a:hover{
  color: #fff;
  text-decoration: none !important;
}


@media screen and (min-width: 601px) {
  .bt{
  background: transparent;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 15px;
  border: 2px solid #9e762c;
}

.carousel-0{
  height: 512px;
  
  }

  .carousel-1{
    
    height: 720px;
    
    }

}

@media screen and (max-width: 601px) {
  .bt{
  background: transparent;
  padding: 10px 30px;
  display: inline-block;
  /* margin-top: 100px; */
  margin-bottom: 80px;
  border: 1px solid #9e762c;
}

 .bt-l{
   margin-left: 30px;
   font-size: 18px !important;
   line-height: 21px;
   padding: 10px 10px !important;
  margin-right: 30px;
  z-index: 99 !important;
 }

 .sec-5 button {
   text-align: center !important;
 }

.carousel-0{
  height: 256px !important;
  
  }

  .carousel-1{
    height: 360px !important;
    
    }
    .carousel-control-prev {
      left: 5px !important;
    }
    
    .carousel-control-next {
      right: 5px !important;
    }

}

@media only screen and (min-width: 768px) {
.bt{
  background: transparent;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 15px;
  border:  1px solid #9e762c;
}

}

@media only screen and (max-width: 768px) {
.bt{
  background: transparent;
  padding: 10px 30px;
  display: inline-block;
 /* /*margin-top: 50px;*/
  margin-bottom: 50px;
  border:  1px solid #9e762c;
}
  
}



.sec-2{
  text-align: center;
}

.sec-2 h3{

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  color: #9e762c; 
  font-variant: small-caps !important;

}

.sec-2 p{

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  /* or 178% */
  text-transform: capitalize;

  color: #454545;
  margin-top: 30px;

}

.sec2-2{

  margin-top: 130px;
  margin-bottom: 110px;

}

.sec-3-3{

   margin-top: 150px;
  margin-bottom: 130px;

}

.sec-3{

  text-align: center;
}

.sec-3 h2{

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 59px;
font-variant: small-caps;
/* identical to box height */


color: #9e762c;

}

.sec-3 p{

   font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  text-transform: capitalize;
  margin-top: 30px;

  color: #454545;

}
.carousel-indicators li { visibility: hidden; }

.carousel-0{
height: 512px;

}

.carousel-1{
  /* height: 720; */
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-1 img{
  height: 100%;
  object-fit: cover;
}

.carousel-0 img{
  height: 100%;
    object-fit: cover;
 
}

.sec-4{

  height: auto;
  width: 100%;
 

}


.sec-4 h3{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 40;
line-height: 48px;
font-variant: small-caps;

color: #9e762c;

}

.sec-4 p{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #454545;
text-align: left !important;
}

.sec-5 h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  font-variant: small-caps;
  
  padding-bottom: 30px;
  
  color: #9e762c;
  
  }



.sec-5 h3{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 38px;
font-variant: small-caps;

padding-bottom: 30px;

color: #9e762c;

}

.sec-5{
  margin-top: 150px;
  margin-bottom: 150px;

} 

/*.sec-5 img{

  height:420px ;
  width: 747px;
}
*/

.sec-5 p{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

padding-bottom: 8px;

color: #454545;
}

.apart-0{

  margin-top: 100px;

}


.N-form input, textarea, aria-label {
background-color : #9e762c !important;
}
.form-control{
  background-color:  #9e762c !important;
  border-radius: 0px !important;
    border: 1px solid black !important;
    padding: 25px !important;
}

.N-form {
  padding: 10px 0px 10px 0px;

}
.btn{

  height: 64px;
  width: 225px;

background-color : #1B1E25 !important;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.08em;
color: #FFFFFF !important;

}

::-webkit-input-placeholder{
  color: white !important;
}


footer{
  background-color:#9e762c; ;

  padding: 50px 0;
}

.nav-link .fab{
  color: #ffffff;
}


.nav-link
{
  color: #ffffff;
  /* color: rgb(255 255 255 / 50%) !important; */
  padding-right: 50px !important;
}

.nav-link-black
{
  color: black !important;
}

.nav-bg
{
  background: #ffffff;
}



/*======================================= AMENITIES SECTION BEGINS===================== */

.amenities {
    width: 100%;
    height: 640px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    position: relative;
}

.amenities .full-shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.64);
    transition: all 200ms ease-in-out;
}

.amenities .amenity {
    flex: 1;
    transition: all cubic-bezier(0.98, 0, 0.05, 0.99) 420ms;
    background-position: center;
    position: relative;
    background-size: cover;
}



.amenities .amenity:nth-child(1) { background-image: url(../images/amenity-1.png); }
.amenities .amenity:nth-child(2) { background-image: url(../images/amenity-2.jpg); }
.amenities .amenity:nth-child(3) { background-image: url(../images/amenity-3.png); }
.amenities .amenity:nth-child(4) { background-image: url(../images/amenity-4.jpg); }
.amenities .amenity:nth-child(5) { background-image: url(../images/amenity-5.png); }
.amenities .amenity:nth-child(6) { background-image: url(../images/amenity-11.jpg); }
.amenities .amenity:nth-child(7) { background-image: url(../images/amenity-8.jpeg); }
.amenities .amenity:nth-child(8) { background-image: url(../images/amenity-9.jpeg); }
.amenities .amenity:nth-child(9) { background-image: url(../images/amenity-12.jpeg); }

.amenities .amenity:hover {
    flex: 3;
}

.amenities .amenity .shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0));
    transition: all 200ms ease-in-out;
}

.amenities .amenity h2{
    color: white;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all ease-in 420ms;
    opacity: 0;
    text-align: center;
}

.amenities .amenity:hover > .shade {
    opacity: 1;
}

.amenities .amenity:hover > h2 {
    opacity: 1;
}

.amenities .amenity:nth-child(even) {
    background-color: pink;
}

.amenities .amenity:nth-child(odd) {
    background-color: coral;
}

.amenities h1 {
    color: #9e762c;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all ease-in 420ms;
}

.amenities:hover > h1 {
    opacity: 0;
}

section{
  margin-top: 30px;


}

#section1{
  /*height: 800px;*/
  display: inline-block;
  width: 100%;
  transition: 1s;
}
#section2{
  /*height: 800px;*/
  display: inline-block;
  width: 100%;
  transition: 1s;
}
#section4{
  /*height: 800px;*/
  display: inline-block;
  width: 100%;
  transition: 1s;
}
#section5{
  /*height: 800px;*/
  display: inline-block;
  width: 100%;
  transition: 1s;
}
#section3{
  /*height: 800px;*/
  display: inline-block;
  width: 100%;
  transition: 1s;
}

#mc-embedded-subscribe {
  clear: both;
  width: 225px !important;
  display: block;
  margin-left: 0 !important;
  
}







@media screen and (min-width: 601px) {


  .amenities {
    width: 100%;
    height: 640px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    position: relative;
}

amenities h1 {
    color: #9e762c;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all ease-in 420ms;
}


}

@media screen and (max-width: 601px) {
  .amenities {
    width: 100%;
    height: 640px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
}

.amenities h1 {
    color: #9e762c;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
  /*  transform: translateX(-50%) translateY(-50%);
    transition: all ease-in 420ms;*/
}

}




/* =============================AMENITIES SECTION ENDS====================================== */





@media screen and (min-width: 601px) {
  .sec-4 h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 601px) {
  .sec-4 h3 {
    font-size: 25px;
  }
}


.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link:hover {
  text-decoration: underline;
  color: white;
}

.ft{
  margin-right: 25px;

}
.bt-l{
  background: transparent;
  color: #9e762c;
  padding: 10px 20px;
  /* display: inline-block; */
  margin-top: 15px;
  text-decoration: none;
  border: 2px solid #9e762c;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

/* .carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
} */

.carousel-caption{
  bottom: 250px ;

  /* transform: translateY(-50%);
	background-color: rgba(0, 0, 0, .8); */

}


.carousel-caption p{
  width: 100%;
  margin: auto;
  font-size: 44px;
  line-height: 42px;
  font-style: normal;
  font-weight: 600;
  /* transform: translateY(-50%); */
	background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #9e762c;
font-variant: small-caps !important;
}

.bg {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline;
  padding: 1px 0
}


.modal-dialog{
  width: 80% !important;
  height: 80% !important;
  margin: 20px !important;
  padding: 0 !important;
  max-width:none !important;
}

.modal-content {
  height: auto !important;
  min-height: 80% !important;
  border-radius: 0 !important;
  background-color: #ececec !important 
}
/* @media screen and (max-width: 768px) {   
  .d-md-block {
    display: block!important;
}
} */
.neww img{
width: 60%;
height: 400px;
object-fit: cover;}

.Air-logos img{
width: auto;
height: 90px;
margin: 20px;
object-fit: cover;
}


.location {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 800px;
  background-color: black;
  background-image: url(../images/img-4.png);
  background-position: left;
  background-size: cover;
}

.location .shade {
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1) 80%);
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1;
}

.location .details {
  position: relative;
  grid-row: 1;
  grid-column: 8 / -2;
  margin-top: 80px;
  z-index: 2;
}

.location .details h1 {
  color: #9e762c;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 48px;
}

.location .details p {
  color: white;
  font-size: 1rem;
  line-height: 1.6em;
  margin-bottom: 24px;
  font-weight: 300;
}

.pins {
  position: relative;
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1;
}

@keyframes bobble {
  0% { transform: translateY(0) }
  50% { transform: translateY(-16px) }
  100% { transform: translateY(0px) }
}

.pins .pin {
  position: absolute;
  animation-name: bobble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.pins #pin-1 {
  top: 280px;
  left: 486px;
}

.pins .pin-2 {
  top: 120px;
  left: 270px;
  animation-delay: 400ms;
}

.pins .pin-3 {
  top: 520px;
  left: 370px;
  animation-delay: 800ms;
}

@media only screen and (max-width: 1080px) {
  .location {
    /* height: 100vh; */
    background-position-x: -180px;
  }

  .location {
    background-position-y: 200px;
    background-position-x: -328px;
    background-repeat: no-repeat;
  }

  .location .shade {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1) 64%);
  }
  
  .location .details {
    position: relative;
    grid-row: 1;
    grid-column: 1 / -1;
    padding: 24px;
    margin-top: 32px;
    z-index: 2;
  }


}

#more{
  display: block;
}

@media screen and (min-width: 601px) {
  #more{
    display: block;
  }
  #myBtn{
    display: none;
  }
}

@media screen and (max-width: 601px) {
  #more{
    display: none;
  }
}

#myBtn{
  color: #9e762c;
  background-color: transparent;
  border: none;
}

.int h3{
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;
color: #9e762c; 
font-variant: small-caps !important;
margin-bottom: 20px;

}
.vid{
  margin-bottom: 20px;
}
